<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tworzenie nowego zadania</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <h3 th:text="#{nav.create_issue}" class="pb-3"></h3>
    <form th:action="@{/issue/save}" th:object="${issue}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{dateCreated}"/>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" for="content">Projekt</label>
            <div>
                <select th:field="*{project}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{project.placeholder}">
                    </option>
                    <option th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.name}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" for="content">Osoba przypisana</label>
            <div>
                <select th:field="*{assignee}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{assignee.placeholder}">
                    </option>
                    <option th:each="assignee : ${assignees}"
                            th:value="${assignee.id}"
                            th:text="${assignee.name}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="title">Tytuł</label>
            <div>
                <input id="title"
                       type="text"
                       th:field="*{title}"
                       placeholder="Tytuł"
                       th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}"/>

                <small class="text-danger"
                       th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}"></small>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="content">Opis</label>
            <div>
                <input id="content"
                       type="text"
                       th:field="*{content}"
                       placeholder="Nazwa projektu"
                       th:class="'form-control ' + ${#fields.hasErrors('content') ? 'is-invalid' : ''}"/>

                <small class="text-danger"
                       th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}"></small>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="priority">Piorytet</label>
            <div>
                <select id="priority" th:field="*{priority}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{priority.placeholder}"></option>
                    <option th:each="priority : ${priorities}"
                            th:value="${priority}"
                            th:text="${#messages.msg('priority.' + priority)}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="status">Status</label>
            <div>
                <select id="status" th:field="*{status}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{status.placeholder}"></option>
                    <option th:each="status : ${statuses}"
                            th:value="${status}"
                            th:text="${#messages.msg('status.' + status)}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" for="content">Typ</label>
            <div>
                <select id="type" th:field="*{type}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{type.placeholder}"></option>
                    <option th:each="type : ${types}"
                            th:value="${type}"
                            th:text="${#messages.msg('type.' + type)}"></option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" th:text="Zapisz"></button>
            <a th:href="@{/}" class="btn btn-default" th:text="Anuluj"></a>
        </div>
    </form>
</div>
<div class="footer" th:insert="fragments/footer.html :: footer"></div>
</body>
</html>